<div class="contact_template <%=contact_style_class%>">
  <div class="content_data_block">
    <% if (element.contact_phone_number and element.contact_phone_number.to_s.strip.length > 0) or (element.contact_mobile and element.contact_mobile.to_s.strip.length > 0) %>  
    <div class="content_data_row"><span data-icon="&#xe009;" aria-hidden="true"><%= "#{element.contact_phone_number} #{element.contact_mobile}" %></span></div>
    <% end %>
    <% if element.contact_email and element.contact_email.to_s.strip.length > 0 %>  
    <div class="content_data_row"><span data-icon="" aria-hidden="true"><a href="<%="mailto:#{element.contact_email}"%>"><%= "#{element.contact_email}" %></a></span></div>
    <% end %>
    <% if element.contact_website and element.contact_website.to_s.strip.length > 0 %>  
    <div class="content_data_row"><span data-icon="" aria-hidden="true"><a href="<%="http://#{element.contact_website}"%>" target="blank"><%="#{element.contact_website}"%></a></span></div>
    <% end %>
  </div>
</div>